<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.fsn.messenger"
    android:versionCode="82"
    android:versionName="0.82" > >

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.apps.googlevoice.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.apps.googlevoice.INBOX_NOTIFICATION.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <permission
        android:name="com.google.android.apps.googlevoice.INBOX_NOTIFICATION.permission.C2D_MESSAGE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/fusionicon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Holo" >
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <service
            android:name="WorkerService"
            android:enabled="true" />

        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="com.samsung.android.intent.category.PENWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.sdk.multiwindow.penwindow.enable"
                android:value="true" />
            <meta-data
                android:name="com.sec.minimode.icon.portrait.normal"
                android:resource="@drawable/fusionicon" />
            <meta-data
                android:name="com.sec.minimode.icon.landscape.normal"
                android:resource="@drawable/fusionicon" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/Theme.Holo" />

        <receiver android:name="BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.QuickReplyDialog"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Holo.PopUp" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="smsto" />
            </intent-filter>
        </activity>
    </application>

</manifest>
